<!-- <ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>WSB 13.06.2020</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <h3>text-start</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <h3>text-end</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h3>text-center</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-justify">
            <h3>text-justify</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-wrap">
            <h3>text-wrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-nowrap">
            <h3>text-nowrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app> -->

<!-- moja Apka stąd -->
<ion-app>
  <!-- <ion-header color="light">
    <ion-toolbar class="" color="primary">
      <ion-row class="">
        <ion-col class="ion-padding-start" style="background-color: brown;">
          <ion-buttons class="">
            <ion-button color="light">
              <ion-icon name="person-outline"></ion-icon>
              <ion-text>Jan Kowalski</ion-text>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col style="background-color: brown;">
          <ion-buttons class="ion-float-right ion-padding-end">
            <ion-button color="light">
              <ion-icon name="search"></ion-icon>
              <ion-icon name="grid-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header> -->





  <ion-header>
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-col size="8">
          <ion-chip>
           <ion-icon name="person-outline"></ion-icon>
            <ion-label>Jakooo Tako</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col text-align: end>
          <ion-buttons class="ion-float-right ion-padding-end">
          <ion-icon name="grid-sharp"></ion-icon>
        </ion-buttons>
        </ion-col>
        <ion-col text-align: end>
          <ion-buttons class="ion-float-right ion-padding-end">
          <ion-icon name="search-sharp"></ion-icon>
        </ion-buttons>
        </ion-col>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-row>
        
          <ion-icon name="person-outline"></ion-icon>
           <ion-label>Tam Inazad</ion-label>
           
           <ion-col size="1" offset="1">
            <div >
              <ion-buttons >
                <ion-button color="medium" >
                  <ion-icon name="menu-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          </ion-row>
         
              <!-- <ion-card-title>Kobieta</ion-card-title> -->
      </ion-card-header>
      
  
      <ion-card-content>
        <div> <ion-card-title style="text-align: center;">Kobieta</ion-card-title></div>
        
       <div><img src="../../assets/kob.jpg" style="height: 30% ; width: 100%"></div>
        <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Dolor nemo ducimus ratione vero assumenda ea itaque iusto soluta numquam consequatur, voluptatem ex voluptatibus rerum nobis quae fuga placeat.
      </div>
      <ion-row>
        <ion-col>
          <div>
            <ion-buttons>
              <ion-button color="medium">
                <ion-icon name="thumbs-up-outline"></ion-icon>

              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-buttons>
              <ion-button color="medium">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>

              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-buttons>
              <ion-button color="medium">
                <ion-icon name="arrow-redo-outline"></ion-icon>


              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <!-- <ion-content class="ion-padding">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <div>
                <ion-icon name="person-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="9">
              <div>
                <ion-card-header>
                  <ion-card-subtitle>Steve de Luca</ion-card-subtitle>
                  <ion-card-title>Kazik na pierwszym miejscu listy. Ponownie</ion-card-title>
                </ion-card-header>
              </div>

            </ion-col>
            <ion-col size="1" offset="1">
              <div>
                <ion-buttons>
                  <ion-button color="medium">
                    <ion-icon name="menu-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>

                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
                <ion-img src="../assets/pict/news1.jpg" style="height: 30% ; width: auto;"></ion-img>

              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-buttons>
                  <ion-button color="medium">
                    <ion-icon name="thumbs-up-outline"></ion-icon>

                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-buttons>
                  <ion-button color="medium">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>

                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>

            <ion-col>
              <div>
                <ion-buttons>
                  <ion-button color="medium">
                    <ion-icon name="arrow-redo-outline"></ion-icon>


                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <div>
                <ion-card-header>
                  <ion-card-subtitle>WSB Today</ion-card-subtitle>
                  <ion-card-title>First Ionic app</ion-card-title>
                </ion-card-header>
              </div>
            </ion-col>
            <ion-col size="1" offset="1">
              <div>
                <ion-buttons>
                  <ion-button color="medium">
                    <ion-icon name="menu-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
        Dzielni studenci napisali pierwszą aplikację mobilną z użyciem silnika Ionic. Studenci są szczególnie dumni ze
        swoich osiągnieć
        <ion-img src="../assets/pict/wsb1.jpg" style="height: 50% ; width: auto;"></ion-img>
        <ion-row>
          <ion-col>
            <div>
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="thumbs-up-outline"></ion-icon>

                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="chatbox-ellipses-outline"></ion-icon>

                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="arrow-redo-outline"></ion-icon>


                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content> -->


  <ion-footer>
    <ion-toolbar>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-padding-horizontal">
              <ion-buttons>
                <ion-button color="primary">
                  <ion-icon name="home-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-no-padding">
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="people-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="chatbubbles-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-padding-end">
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-buttons>
                <ion-button color="medium">
                  <ion-icon name="mail-unread-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-toolbar>
  </ion-footer>

  
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer> -->

  <!-- to było zaznaczone -->
  <!-- <ion-footer>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon name="calendar"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs> -->
    
    <!-- <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-sharp" color="primary"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="social">
          <ion-icon name="people-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="chat">
          <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="alert">
          <ion-icon name="notifications-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="business">
          <ion-icon name="briefcase-sharp"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar> 
    </ion-tabs> -->
  <!-- </ion-footer> -->
  <!-- dotąd -->
  </ion-app>
  <!-- moja Apka dotąd -->