<!-- <ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>WSB 13.06.2020</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <h3>text-start</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <h3>text-end</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h3>text-center</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-justify">
            <h3>text-justify</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-wrap">
            <h3>text-wrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-nowrap">
            <h3>text-nowrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app> -->

<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-col size="8">
  
          <ion-chip>
           
            <ion-label>Jakooo Tako</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col text-align: end>
          <ion-icon name="search-sharp"></ion-icon>
        </ion-col>
        <ion-col text-align: end>
          <ion-icon name="grid-sharp"></ion-icon>
        </ion-col>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
              <ion-card-title>Kobieta</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <img src="../../assets/kob.jpg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Dolor nemo ducimus ratione vero assumenda ea itaque iusto soluta numquam consequatur, voluptatem ex voluptatibus rerum nobis quae fuga placeat.
      </ion-card-content>
    </ion-card>
    
  
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
  <!-- <ion-footer>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon name="calendar"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs> -->
    
    <!-- <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-sharp" color="primary"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="social">
          <ion-icon name="people-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="chat">
          <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="alert">
          <ion-icon name="notifications-sharp"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="business">
          <ion-icon name="briefcase-sharp"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar> 
    </ion-tabs> -->
  <!-- </ion-footer> -->
  </ion-app>